@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: s#ffffff;
    --laranja: #00ebc0;
    --azul-degrade: linear-gradient(97.54deg, #005242 35.49%, #893278 165.37%);
    --fonte-principal: "Poppins";
    --azul: #00520c;
}

body {
    .dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
}

    .dm-serif-text-regular-italic {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: italic;  }

}